{% extends 'catalog/base.html' %}
{% load tags_catalog %}
{% block content %}
<div class="col-12">
    <div class="row">
        <a class="btn btn-lg btn-block btn-outline-primary" href="/create/">Создать статью</a>
    </div>
</div>

<div class="row">
    {% for object in object_list %}
    {% if object.published%}
    <div class="col-3">
        <div class="row">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{object.title}}</h5>
                    <p class="card-text">{{object.about|truncatechars:10}}</p>
                    <p class="card-text">Просмотров {{ object.views_count }}</p>
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:article' object.pk %}">Перейти</a>
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:update_article' object.pk %}">Редактировать</a>
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:delete_article' object.pk %}">Удалить</a>
                </div>
            </div>

        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}