{% extends 'catalog/base.html' %}
{% load tags_catalog %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <img src="{% mediapath object.image %}" class="rounded mx-auto d-block" alt="preview" height="500">
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">{{ object.price }}₽</p>
                <p class="card-text">{{ object.about|truncatechars:100 }}</p>
                <p class="card-text">New batch from {{ object.updated_at }}</p>
                <a class="btn btn-outline-primary" href="{% url 'catalog:product_list' %}">Назад</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}
