{% extends 'catalog/base.html' %}
{% load tags_catalog %}
{% block content %}
    {% if user.is_active %}
        <div class="flex-xl-row">
            <div class="col-12">
                <div class="row">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:create_product' %}">Создать
                        продукт</a>
                </div>
                <br>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card-group">

                {% for object in object_list %}
                    <div class="card text-center" style="width: 18rem;">
                        <img src="{% mediapath object.image %}" class="rounded mx-auto d-block" alt="preview"
                             height="500">
                        <div class="card-header">
                            <h5 class="card-title">{{ object.name }}</h5>
                        </div>
                        <div class="card-body">

                            <p class="card-text">{{ object.price }}₽</p>
                            <p class="card-text">{{ object.about }}</p>

                            <div class="card-footer"><a class="btn btn-lg btn-block btn-outline-primary"
                                                        href="{% url 'catalog:product' object.pk %}">BUY</a>
                                <a class="btn btn-lg btn-block btn-outline-primary"
                                   href="{% url 'catalog:update_product' object.pk %}">Edit</a>
                                <a class="btn btn-lg btn-block btn-outline-primary"
                                   href="{% url 'catalog:delete_product' object.pk %}">Delete</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}

        <p align="center">Вы не авторизовались. Доступа к продуктам нет.</p>

    {% endif %}


